body{
        background-color: paleturquoise
        
}
h1{
        text-align: center;
        text-transform: uppercase;
        font-size:2rem;
}

.poster{
        height:20%;
        width:auto;
        margin-left:2%;
        margin-top:100px;
        color: gray;
        font-family: "Libre Baskerville", serif;
        text-align: center;

}
.motivational-quoate{
        border:5px solid royalblue;
        width:80%;


}
 